
@{
    ViewBag.Title = "OpenDoor";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/utils.js" type="text/javascript"></script>
<script src="~/Scripts/sc.websocket.js" type="text/javascript"></script>
<script src="~/Scripts/sdk/dependencies/socket.io.js" type="text/javascript"></script>
<script src="~/Scripts/sdk/dependencies/adapter.js" type="text/javascript"></script>
<script src="~/Scripts/sdk/woogeen.sdk.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
<script src="~/Scripts/json2.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
<script src="~/SignalR/hubs"></script>


<script type="text/javascript">
    $(function () {
        var systemHub = $.connection.systemHub;

        //后端调用前段,即后端推消息给前端
        systemHub.client.serverSendClient = function (message) {
            alert("serverSendClient=" + message);
        };

        //开始连接
        $.connection.hub.start().done(function () {
            //客户端发送信息到服务端
            systemHub.server.send($.connection.hub.id);
            alert("connection.hub.id=" + $.connection.hub.id);
        });
    });
</script>
<h2>OpenDoor</h2>

<p id="main">
    开门
</p>
<div id="loginDiv" style="display: none;">
    <input id="doornumber" type="text" value="" />
    <input id="server" type="text" value="" /><input id="ice" type="text" value="" />
    <input id="user" type="text" value="" /><input id="pwd" type="text" value="" />
    <input id="uid" type="text" value="" /><input id="target-uid" type="text" value="" />
    <input id="result" type="text" value="" />
</div>

<script type="text/javascript">
        var isVideo = 1;
        var localStream;//本地视频流
        var localScreen;
        var serverAddress; //ICE服务器
        var passWord; //ICE密码
        var userName;//ICE用户
        var iceUrl;//ICE地址
        var icePortTcp = iceUrl + "?transport=tcp"; //TCP地址
        var icePortUdp = iceUrl + "?transport=udp"; //UDP地址
        var p2p;
        //初始化WEBTC.P2P对象
        function Initp2p() {
            p2p = new Woogeen.PeerClient({
                iceServers: [{
                    urls: iceUrl
                }, {
                    urls: [icePortTcp, icePortUdp],
                    credential: passWord,
                    username: userName
                }]
            });
            if (p2p) {
                Initp2pEvent();
            }
        }

        //初始化P2P配置
        function Setp2pConfig(server,ice,user,pwd) {
            try {
				serverAddress = server;
				passWord = pwd;
				userName = user;
				iceUrl = "stun:" + ice;
				icePortTcp = "turn:" + ice + "?transport=tcp";
				icePortUdp = "turn:" + ice + "?transport=udp";
				return true;
            }
            catch (ex) {
                return false;
            }
        }

</script>

<script>
        var serverName="127.0.0.1";
		var port="8080";
        //窗体加载
        window.onload = function () {

            //var module = getRequest("module");
            //setInterval("SelOpenTask()", 500);
            //alert(getRequest("doornumber"));
		    var msg=$("#main").html();
			var doornumber=getRequest("doornumber");
		    var server = getRequest("server");
		    var ice = getRequest("ice");
		    var user = getRequest("user");
		    var pwd = getRequest("pwd");
		    // uid = getRequest("uid");
		    //var tuid = getRequest("tuid");
			serverName = getRequest("serverName");
		    port = getRequest("port");
			document.title = "极致门禁系统控制台"+doornumber;

			$("#doornumber").val(doornumber);
			$("#server").val(server);
			$('#ice').val(ice);
			$("#user").val(user);
			$('#pwd').val(pwd);

			//Submit(serverName,port);
			//window.setInterval(Submit, 1000);


        }


		//提交表单给接口。
		function Submit(){
			var dnumber=$("#doornumber").val();
			//alert(serverName+":"+port+"/DoorOpenByNet.ashx");
			$.ajax({
	                url: serverName+":"+port+"/JeezWeb/DoorOpenByNet.ashx",
	                type: "post",
					contentType: "application/x-www-form-urlencoded; ", //默认，表单提交格式
					//dataType: "json",
	                data: {doornumber: dnumber},
	                success: function (result) {
						var entity = JSON.parse(result);

						if (entity.Uid.toString() != "" && entity.Tuid.toString() != "") {
						   CallToDoor(entity.Uid,entity.Tuid);
						}
	                },
	                error: function (result) {
	                    //alert("error:"+result);
	                }
	            });

			/*
			$.post("/DoorCommSyncService.asmx/WsOpenDoorInfo", json={ "fid": fids, "fname": fnames, "tuid": tuids, "tuname": tunames }, function (data) {
				if (data == "ok") {
					alert("添加成功！");
				}
			})
			*/
		}

		function CallToDoor(uid,tuid){
			var server = $("#server").val();
		    var ice = $('#ice').val();
		    var user = $("#user").val();
		    var pwd = $('#pwd').val();
		    //var uid = $("#uid").val();
		    //var tuid = $('#target-uid').val();
			$("#uid").val(uid);
			$('#target-uid').val(tuid);

			//设置对讲配置
			if(Setp2pConfig(server,ice,user,pwd)){
				Initp2p();
				if(p2p){
					//登录
					var success = loginUid(uid);
					if (success && success == "1"){
						p2p.invite(getTargetId(), function () {
							//呼叫成功
							msg+="<p>呼叫成功:"+uid+" 呼叫 "+tuid+",Invite success.</p>";
							$("#main").html(msg);
						}, function (err) {
							//呼叫失败
							msg+="<p>呼叫失败:"+uid+" 呼叫 "+tuid+",Invite failed with message:" + err.message + "</p>";
							$("#main").html(msg);
						});
					}else
					{
						msg+="<p>登录失败:"+uid+" 呼叫 "+tuid+"</p>";
						$("#main").html(msg);
					}
				}
			}

			//退出登录
			//setTimeout("lgoinOff();window.close();", 1000);
			lgoinOff();
			//window.close();
		}

        ///解析URL参数
        function getRequest(name) {
            var url = decodeURIComponent(location.href);
            var paras = url.substring(url.indexOf("?") + 1, url.length).split("&");
            if (paras) {
                var nameVal;
                for (i = 0; i < paras.length; i++) {
                    nameVal = paras[i].split("=");
                    if (nameVal && nameVal.length == 2) {
                        if (nameVal[0].toLowerCase() == name.toLowerCase()) {
                            if (nameVal[1])
                                return nameVal[1];
                            else
                                return "";
                        }
                    }
                }
            }
            return "";
        }

</script>

<script type="text/javascript">
        var getTargetId = function () {
            return $('#target-uid').val();
        };
        ///登录
        function loginUid(uid) {
            try {
                if (uid) {
                    $("#uid").val(uid);
                    loginIn();
                    return "1";
                }
            }
            catch (ex) {
                return ex.message;
            }
        }

        //登录方法
        function loginIn() {
            p2p.connect({ host: serverAddress, token: $('#uid').val() });
        }

        //注销方法
        function lgoinOff() {
            try {
            //关闭视频流
                if (localStream) {
                    var tuid = $('#target-uid').val();
                    p2p.unpublish(localStream, tuid);
                    localStream.close();
                    p2p.stop(tuid)
                }
                //中断
                p2p.stop(tuid);
                //退出登录
                p2p.disconnect();
                return "1";
            }
            catch (ex) {
                return ex.message;
            }
        }

        //挂断方法
        function stopChat() {
            ischating = false;
            var tuid = $('#target-uid').val();
            var uid = $('#uid').val();
            //关闭视频流
            p2p.unpublish(localStream, tuid);
            if (localStream) {
                localStream.close();
                localStream = undefined;
            }
            if (localScreen) {
                localScreen.close();
                localScreen = undefined;
            }
            //登出
            p2p.disconnect();
            common();
            //登录
            loginIn();
            $('#local').children('video').get(0).srcObject = null;
            $('#remote video').get(0).srcObject = null;
        }
        //主动呼叫
        function call() {
            p2p.invite(getTargetId(), function () {
                console.log('Invite success.');
            }, function (err) {
			    //呼叫失败
                console.log('Invite failed with message: ' + err.message);
				isWait=false;
				isCalling=false;
				ischating = false;
				var tuid = $('#target-uid').val();
                var uid = $('#uid').val();
				try{
                if (localStream) {
                    p2p.unpublish(localStream, tuid);
                    localStream.close();
                    localStream = undefined;
                }
                p2p.stop(tuid);
                $('#local').children('video').get(0).srcObject = null;
                $('#remote video').get(0).srcObject = null;
                if (localScreen) {
                    localScreen.close();
                    localScreen = undefined;
                }
				}catch(ex){}
				var timeOut = setTimeout("claerError()", 2000);
                //console.log('Chat stopped. Sender ID: ' + e.senderId + ', peer ID: ' + e.peerId);
                var messages = { "uid": uid, "tuid": tuid  };
                sendInfo(messages, "6");
                try{
                p2p.disconnect();
				common();
                loginIn();
				}
				catch(exs){}
            });
        }
        //选择接听
        function agreeChat(tuid) {
            try {
			    if(!isMoudle) {//门禁
                if (module == 3) { document.title = "极致物业管理中心视频对讲"; }
                else { document.title = "极致物业管理中心视频对讲-门禁"; }
                  p2p.send("accepted", tuid);
				  beginChat();
				}
				else
				{//停车场
				document.title = "极致物业管理中心视频对讲-停车场";
				p2p.send("wait", tuid);
				isWait=true;
				isCalling=true;
				}
                //beginChat();
				//$('#offBtn').prop('disabled', false);
                //$('#connectBtn').prop('disabled', true);
                return "1";
            }
            catch (ex) {
                return ex.message;
            }
        }
        //开始对话发起视频流
        function beginChat() {
            if (!isMoudle) {
                if (module == 3) { $('#denyBtn').prop('disabled', false); $('#connectBtn').prop('disabled', false); }
                else { $('#offBtn').prop('disabled', false); $('#connectBtn').prop('disabled', true); }
			}
            if (test)
                $("#displayCaller").val("");
            chat($('#displayCaller').val());
			try{//创建视频流
            createMedia();
			}catch(ex){}
        if (isMoudle) {
            //延迟启用按钮
			setTimeout("showButton(false)",2000);
			//showButton(false);
            //$('#offBtn').prop('disabled', false);
            //$('#connectBtn').prop('disabled', true);
			}
        }
        ///对话后清理视频登信息
        function claerInfo() {
            var tuid = $('#target-uid').val();
            var uid = $('#uid').val();
            //关闭视频流
            p2p.unpublish(localStream, tuid);
            if (localStream) {
                localStream.close();
                localStream = undefined;
            }
            if (localScreen) {
                localScreen.close();
                localScreen = undefined;
            }
            //中断对话
            p2p.stop(tuid);
            //登出
            p2p.disconnect();
            //登录
            common();
            loginIn();
            $('#local').children('video').get(0).srcObject = null;
            $('#remote video').get(0).srcObject = null;
        }
        //拒接指令
        function denyChatUserdefine(tuid) {
            try {
                p2p.send("denied", tuid);
                ischating = false;
                claerInfo();
                return "1";
            }
            catch (ex) {
                return ex.message;
            }
        }
        //拒接
        function denyChat(tuid) {
            try {
                p2p.deny(tuid
                    , function (data) { }
                    , function (e) { });
                common();
                return "1";
            }
            catch (ex) {
                return ex.message;
            }
        }

        function changeButton() {
            $('#openBtn').addClass("actions");
            $("#openBtn").css("opacity", 1);
            $('#openBtn').prop('disabled', false);
        }

        //初始化p2p的事件
        function Initp2pEvent() {
        //邀请
            p2p.on('chat-invited', function (e) {
                if (ischating) {
                    try {
                        p2p.deny(e.senderId
                            , function (data) { }
                            , function (e) { });
                    }
                    catch (ex) {

                    }
                    return;
                }
                $('#target-uid').val(e.senderId);
                p2p.accept(getTargetId(), function (data) { console.log(data); });
                //p2p.send("test");
            });
            //接受
            p2p.on('chat-accepted', function (e) {
                 beginChat();
            });
            //拒接时
            p2p.on('chat-denied', function (e) {
                console.log('Invitation to ' + e.senderId + ' has been denied.');
            });
            //开始对话
            p2p.on('chat-started', function (e) {
                console.log('chat started.');
                ischating = true;
                if (ischating && e.peerId == $('#target-uid').val()) {
                    coming(e.peerId);
					isCalling=false;
                }
            });
            ///停止对话
            p2p.on('chat-stopped', function (e) {
			    if(isWait){
				isWait=false;
				setTimeout("call()", 1000);
				//call();
				return;
				}
				else
				{
				try{
				clearTimeout(outTime);
				}catch(ex){}
				}
				isCalling=false;
                if (isCloseed)
                    return;
                var tuid = $('#target-uid').val();
                var uid = $('#uid').val();
                if (localStream) {
                    p2p.unpublish(localStream, tuid);
                    localStream.close();
                    localStream = undefined;
                }
                p2p.stop(tuid);
                $('#local').children('video').get(0).srcObject = null;
                $('#remote video').get(0).srcObject = null;
                if (localScreen) {
                    localScreen.close();
                    localScreen = undefined;
                }
                common();
                var timeOut = setTimeout("claerError()", 2000);
                console.log('Chat stopped. Sender ID: ' + e.senderId + ', peer ID: ' + e.peerId);
                var message = { "uid": uid, "tuid": e.senderId };
                sendInfo(message, "6");
                ischating = false;

            });
            //添加视频流
            p2p.on('stream-added', function (e) {
                var div = document.createElement("div");
                div.id = e.stream.id();
                var video = document.createElement("video");
                video.setAttribute("width", "1280px");
                video.setAttribute("height", "720px");
                video.setAttribute("autoplay", "autoplay");
                video.id = e.stream.id();
                if (e.stream.isScreen()) {
                    $('#screen video').show();
                    $('#screen video').get(0).srcObject = e.stream.mediaStream;
                } else if (e.stream.hasVideo()) {
                    $('#remote video').show();
                    $('#remote video').get(0).srcObject = e.stream.mediaStream;
                }
                isVideo++;

            });
            //移除视频流
            p2p.on('stream-removed', function (e) {
                var stream = e.stream;
                if (stream && stream.isScreen()) {
                    $("#screen video").hide();
                }
                else {

                }
                console.log('Stream removed. Stream ID: ' + e.stream.mediaStream.id);
            });
            //接收到消息
            p2p.on('data-received', function (e) {
                if (e.data && e.data == "test") {
                    if (ischating && e.senderId == $('#target-uid').val()) {
                        coming(e.senderId);
                    }
                }
            });
        }
        //创建本地视频
        function createMedia() {
            if (localStream) {
                p2p.publish(localStream, $('#target-uid').val());
            } else {
                Woogeen.LocalStream.create({//调用摄像头与麦克风
                    audio: true,
                    video: {
                        device: "camera",
                        resolution: "hd720p",
                        frameRate: [30, 30]
                    }
                },
				function (err, stream) {
				    if (err) {
				        if (err.code == "1100" && err.msg == "NotFoundError") {
				            Woogeen.LocalStream.create(//调用麦克风
                            { audio: true },
                                function (e, stream1) {
                                    if (e) {
                                        if (e.code == "1100" && e.msg == "NotFoundError") {
                                            Woogeen.LocalStream.create(//调用摄像头
                                                {
                                                    video: {
                                                        device: "camera",
                                                        resolution: "hd720p",
                                                        frameRate: [30, 30]
                                                    }
                                                },
                                              function (e1, stream2) {
                                                  if (e1)
                                                      return L.Logger.error('create LocalStream failed:', e1);
                                                  else {
                                                      localStream = stream2;
                                                      $('#local').children('video').get(0).srcObject = localStream.mediaStream;
                                                      p2p.publish(localStream, $('#target-uid').val());
                                                  }
                                              }
                                           );
                                        }
                                        else
                                            return L.Logger.error('create LocalStream failed:', e);
                                    }
                                    else {
                                        localStream = stream1;
                                        $('#local').children('video').get(0).srcObject = localStream.mediaStream;
                                        p2p.publish(localStream, $('#target-uid').val());
                                    }
                                }
                            );
				        }
				        else
				            return L.Logger.error('create LocalStream failed:', err);
				    }
				    else {
				        localStream = stream;
				        $('#local').children('video').get(0).srcObject = localStream.mediaStream;
				        p2p.publish(localStream, $('#target-uid').val());
				    }
				});
            }
        }
        //关闭窗口
        window.onbeforeunload = function () {
            closeWindow();
        }
        //关闭窗口时关闭视频流，退出ICE
        function closeWindow() {
            if (localStream) {
                p2p.unpublish(localStream, $('#target-uid').val());
                localStream.close();
                isCloseed = true;
                p2p.stop($('#target-uid').val());
            }
            p2p.disconnect();
            if (!callClosed1) {
                var message = { "uid": $('#uid').val() };
                sendInfo(message, "7");
            }
        }
</script>